<!-- Aprobadas -->

<h5>Aprobadas</h5>
{% if reservas_historial_aprobadas %}
    {% for reserva in reservas_historial_aprobadas %}
        <div class="border rounded p-3 mb-3 d-flex justify-content-between align-items-center fondo-gris" data-card-id="aprobadas-{{ reserva.id }}">
            <div>
                <p class="mb-0"><strong>Código:</strong> {{ reserva.code }}</p>
                <p class="mb-0"><strong>Fecha de Reserva:</strong> {{ reserva.date }}</p>
                <p class="mb-0"><strong>Cantidad de pedidos:</strong> {{ reserva.cantidad_pedidos }}</p>
            </div>
            <div>
                {% if reserva.cantidad_pedidos > 0 %}
                <a href="{% url 'bookings_app:reservation_orders' reserva.pk %}" class="btn btn-light btn-sm sombra-gris">
                    Ver Pedidos
                </a>
                {% endif %}
                <button 
                    type="button" 
                    class="btn btn-light btn-sm sombra-gris"
                    data-bs-toggle="modal" 
                    data-bs-target="#detalleReservaModal"
                    data-code="{{ reserva.code }}"
                    data-date="{{ reserva.date }}"
                    data-issue_date="{{ reserva.issue_date }}"
                    data-pedidos="{{ reserva.cantidad_pedidos|default:0 }}"
                    data-approval_date="{{ reserva.approval_date|default:'' }}"
                    data-time_slot="{{ reserva.time_slot.name }} ({{ reserva.time_slot.start_time }} - {{ reserva.time_slot.end_time }})"
                    data-observations="{{ reserva.observations|default:"-" }}"
                    data-tables="{% for mesa in reserva.tables.all %}{{ mesa.number }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                    Ver Detalles
                </button>
                <button 
                    type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal"
                    data-id="{{ reserva.id }}">
                    Eliminar
                </button>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-secondary mb-0 fondo-gris">- Sin reservas -</div>
{% endif %}
