{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu_app/css/make_order_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Tus Reservas Aprovadas</h2>

    {% if reservas_proximas %}
    <div class="row">
        {% if reserva_seleccionada %}
            <div style="max-width: 360px; margin-bottom: 1rem; margin-left: auto; margin-right: auto;">
                <button type="button" class="reserva-btn btn text-start btn-success border-success w-100"
                        data-bs-toggle="modal" data-bs-target="#reservasModal">
                <div class="card-body">
                    <h5 class="card-title mb-1">Código: {{ reserva_seleccionada.code }}</h5>
                    <p class="card-text mb-0">Fecha: {{ reserva_seleccionada.date }}</p>
                    <p class="card-text mb-0">
                    Franja Horaria: {{ reserva_seleccionada.time_slot }} ({{ reserva_seleccionada.time_slot.get_label_horas }})
                    </p>
                </div>
                </button>
            </div>
        {% else %}
            <div style="max-width: 360px; margin: 1rem auto;">
                <button type="button" class="btn btn-primary w-100 btn-lg" data-bs-toggle="modal" data-bs-target="#reservasModal">
                    Seleccionar Reserva
                </button>
            </div>
        {% endif %}
    {% else %}
    <div class="alert alert-danger">
        No tienes reservas aprobadas.
    {% endif %}

    {% if reserva_seleccionada %}
    <hr>
    <div class="alert alert-warning">Los productos del menú se agregarán al pedido de la reserva seleccionada:
        {{ reserva_seleccionada.code }}.</div>
    <hr>
    <h3>Pedido Temporal de Reserva</h3>
    
    {% if carrito_reserva %}
    <ul class="list-group" id="cart-items">
        {% for product_data in carrito_reserva %}
        <li class="list-group-item d-flex justify-content-between align-items-center" id="row-product-{{ product_data.product.id }}">
            <div>
                {{ product_data.product.name }} x
                <button
                    type="button"
                    class="btn btn-sm btn-outline-danger ms-2 product-card-isolated dec-from-cart-btn"
                    data-product-id="{{ product_data.product.id }}"
                    data-url="{% url 'decrement_from_cart' product_data.product.id %}"
                    title="Quitar una unidad">
                    <i class="bi bi-dash-circle me-1"></i>Quitar una unidad
                </button>
            </div>
            <!-- Selección de cantidad -->
            <div class="wrapper" data-product-id="{{ product_data.product.id }}"
                data-inc-url="{% url 'menu_app:add_to_order' product_data.product.id %}">
                <span class="minus">-</span>
                <span id="cart-quant-prod-{{ product_data.product.id }}">{{ product_data.quantity }}</span>
                <span class="plus">+</span>
            </div>
            <span id="cart-subtotal-prod-{{ product_data.product.id }}">${{ product_data.subtotal }}</span>
        </li>
        {% endfor %}
    </ul>
    <h4 class="mt-3">Total: $<span id="cart-total">{{ total_cart }}</span></h4>

    <!-- Botón para abrir el modal de Confirmar Pedido -->
    <div id="confirm-order-container">
        <button type="button" class="btn btn-success mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#confirmModal">
            Confirmar Pedido
        </button>
    </div>

    {% else %}
    <div class="alert alert-warning">No hay productos en el pedido.</div>
    {% endif %}

    {% else %}
    <div class="alert alert-danger mt-4">
        Para realizar un pedido primero debe seleccionar una reserva aprovada.
    </div>
    {% endif %}
    <div class="text-center">
        <a href="{% url 'menu_app:menu' %}" class="btn btn-primary mt-4 mb-3">Ir al menú</a>
    </div>

    <!-- Modal Confirmar Pedido -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Desea confirmar este pedido?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'confirm_order' %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Sí, confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Selector de Reservas -->
    <div class="modal fade" id="reservasModal" tabindex="-1" aria-labelledby="reservasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservasModalLabel">Seleccione una Reserva Aprovada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form method="get" action=".">
                    <div class="reservas-container" style="display:grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
                        {% for reserva in reservas_proximas %}
                            <button type="submit" name="booking" value="{{ reserva.id }}" class="reserva-btn btn text-start
                            {% if reserva_seleccionada and reserva.id == reserva_seleccionada.id %}
                                btn-success border-success
                            {% else %}
                                btn-outline-primary
                            {% endif %}
                            ">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">Código: {{ reserva.code }}</h5>
                                <p class="card-text mb-0">Fecha: {{ reserva.date }}</p>
                                <p class="card-text mb-0">Franja Horaria: {{ reserva.time_slot }} ( {{ reserva.time_slot.get_label_horas }} )</p>
                            </div>
                            </button>
                        {% endfor %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'menu_app/js/make_order.js' %}"></script>
{% endblock %}